{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".wasm", ".mjs", ".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    ]
  ]
}
